# SECURITY WARNING: keep the secret key used in production secret!
# You can generate your own key at http://www.miniwebtool.com/django-secret-key-generator/
SECRET_KEY = ''

# You can generate your own key at https://www.themoviedb.org/
TMDB_API_KEY = ''

# You can generate your own key at http://developers.facebook.com
FB_APP_ID = ''
FB_APP_SECRET = ''