<div data-role="header" data-position="fixed">
    <h1>Austin Rep Calendar</h1>
</div><!-- /header -->

<div role="main" class="ui-content">
    <div class="container">
        <h3>Oh, hi again.</h3>
        <p>Hi, I'm <a href="https://twitter.com/zmcghee">Zack McGhee</a>. I made this thing. You can <a href="mailto:zack.mcghee@gmail.com">email me</a> with corrections and/or complaints.</p>
        <hr />
        <h4>How it works</h4>
        <p>I curate the calendar listings. It's a rolling three-week calendar, updated weekly. Currently, the listings go through June 4.</p>
        <p>The next update will be Tuesday, May 26 to update the listings through Thursday, June 11.</p>
        <p>Current venues are restricted to Austin Film Society (at the Marchesa and the Screening Room), the Paramount, the Stateside (because, inexplicably, some folks I know still see movies there), and all Austin Alamo Drafthouse locations. That's it for now, although I may expand the list in the future.</p>
        <hr />
        <h4>Special Thanks</h4>
        <p>Special thanks to all the programmers and cinephiles who make Austin great.</p>
        <p>Extra special thanks to Tommy Swenson and Chris Hvizdak for their help and inspiration in the creation of this service.</p>
        <hr />
        <h4>Top features on my mind</h4>
        <ol>
            <li>You should be able to remove items when viewing your personal calendar</li>
            <li>You should be able to sync your calendar to your iCal or Google Calendar</li>
            <li>There should be a secret but publicly viewable URL for sharing your personal calendar (if you want to)</li>
            <li>There should be a cute little icon for when you add the calendar to your home screen</li>
            <li>You should be able to see what your Facebook friends are seeing (if they want you to)</li>
            <li>There should be running times, IMDb links, and ticket links when possible</li>
        </ol>
        <p><a href="https://github.com/zmcghee/reelguide">The code for this</a> is all open source, btw. Pull requests welcome.</p>
    </div>
</div><!-- /content -->

<div data-role="footer" data-position="fixed">
    <div data-role="navbar" data-iconpos="top">
        <ul>
            <li><a href="/" data-icon="calendar">All Events</a></li>
            <li><a href="{% url 'ajax-user-calendar' %}" data-icon="star">My Events</a></li>
            <li><a href="#about" data-icon="info" class="ui-btn-active ui-state-persist">About</a></li>
        </ul>
    </div><!-- /navbar -->
</div><!-- /footer -->