<div data-role="header" data-position="fixed">
    <h1>Austin Rep Calendar</h1>
    {% include "admin.html" %}
</div><!-- /header -->

<div role="main" class="ui-content">
    <div class="container">
        <h3>Oh, hi again.</h3>
        <p>I'm <a href="http://zackmcghee.com/">Zack McGhee</a>. I made this thing. You can <a href="mailto:zack.mcghee@gmail.com">email me</a> with corrections and/or complaints.</p>
        <hr />
        <h4>How It Works</h4>
        <p>Current venues are restricted to <a href="https://www.austinfilm.org/">Austin Film Society</a> (at the Marchesa and the Screening Room), the <a href="http://www.austintheatre.org/site/PageServer?pagename=Home">Paramount and Stateside Theatres</a>, and all <a href="http://drafthouse.com/austin">Austin Alamo Drafthouse</a> locations. That's it for now, although if you're interested in adding a venue and can provide a reliable data source (or update a Google Sheet) for it, let's talk.</p>
        <p>The calendar is updated once or twice a week with anything that has tickets on sale. For the purposes of this calendar, "rep" is roughly defined as anything more than three years old.</p>
        <hr />
        <h4>Special Thanks</h4>
        <p>Special thanks to all the film programmers and cinephiles who make Austin movie culture great.</p>
        <p>Extra special thanks to Tommy Swenson and Chris Hvizdak for their help and inspiration in the creation of this service.</p>
        <hr />
        <h4>Built on Open Source</h4>
        <p>Thanks also to all the communities of open source projects and their contributors that power this application. <a href="https://www.python.org/">Python</a>, <a href="https://www.djangoproject.com/">Django</a>, <a href="http://redis.io/">Redis</a>, <a href="http://www.postgresql.org/">PostgreSQL</a>, <a href="https://www.sqlite.org/">SQLite</a>, <a href="http://jquery.com/">jQuery</a>, <a href="http://jquerymobile.com/">jQuery Mobile</a>, <a href="http://getbootstrap.com/">Bootstrap</a>, and <a href="https://github.com/zmcghee/reelguide/blob/master/requirements.txt">several supporting libraries</a>, as well as <a href="https://www.themoviedb.org">The Movie Database</a>&mdash;which is not open source, but is a great, free, user-editable resource with a robust API&mdash;made it possible for version one of this app to go up after one all-night coding session, so thank you.</p>
        <p><a href="https://github.com/zmcghee/reelguide">The code for this</a> is all open source, btw. Pull requests welcome.</p>
        <h5>Top features on my mind</h5>
        <ol>
            <li>There should be an easy-to-use import interface (rather than just the command-line option available now)</li>
            <li>There should be a movie modal that shows other play times, a poster or other image, running times and ticket links when possible</li>
            <li>You should be able to see which of your Facebook friends are going to an event (if they want you to)</li>
            <li>You should be able to remove items while viewing your personal calendar</li>
        </ol>
    </div>
</div><!-- /content -->

<div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar" data-iconpos="top">
        <ul>
            <li><a href="/" data-icon="calendar">All Events</a></li>
            <li><a href="{% url 'ajax-user-calendar' %}" data-icon="star">My Events</a></li>
            <li><a href="#about" data-icon="info" class="ui-btn-active ui-state-persist">About</a></li>
        </ul>
    </div><!-- /navbar -->
</div><!-- /footer -->