<html>
<head>
<title>Austin Repertory Cinema Calendar</title>
<meta name="viewport" content="width=device-width, initial-scale=.8">
<link rel="stylesheet" href="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<style>
#rep .ui-checkbox input { top:20% !important; }
#rep input[type=checkbox] { margin-top:0 !important; }
p.time { margin-top:10px; }
p.desc { font-size:.8em; }
td h4 { margin-bottom:5px; }
td form { margin-bottom:0;max-width:120px;float:right; }
a.ui-table-columntoggle-btn { display:none !important; }
tr.info { display:table-row !important; }
</style>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
{% include "js.html" %}
</head>
<body id="rep">
<div data-role="page" id="calendar">
    {% include "calendar.html" %}
</div><!-- /calendar -->

<div data-role="page" id="login">
    {% include "login.html" %}
</div><!-- /login -->

<div data-role="page" id="about">
    {% include "about.html" %}
</div>

<div id="fb-root"></div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-33720508-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>