<div data-role="header">
    <h1>Austin Rep Calendar</h1>
</div><!-- /header -->
<div data-role="header" class="filter-header ui-content">
    <form>
        <input id="filterTable-input" data-type="search" placeholder="Filter by title, format, venue, series, whatever">
    </form>
</div><!-- /filter -->

<div role="main" class="ui-content">
    <table data-role="table" id="movie-table" data-filter="true" data-input="#filterTable-input" class="ui-responsive table table-striped" data-mode="columntoggle">
        <tbody>
            {% for event in events %}
            {% ifchanged event.datetime|date:"D j M" %}
            <tr class="info">
                <th colspan="3">
                    {{ event.datetime|date:"D j M" }}
                </th>
            </tr>
            {% endifchanged %}
            <tr>
                <td>
                    <p class="time"><nobr>{{ event.datetime|time:"g:i a" }}</nobr></p>
                </td>
                <td>
                    <h4>{{ event.title }}</h4>
                    <p class="desc">
                        {{ event.venue.name }}
                        | {{ event.format }}
                        {% if event.series %}
                        | {{ event.series.name }}
                        {% endif %}
                        {% if event.external_url %}
                        | <a href="{{ event.external_url }}">Tickets</a>
                        {% endif %}
                        {% if event.is_film %}
                        <span style="display:none">Film</span>
                        {% endif %}
                    </p>
                </td>
                <td><form><label for="checkbox-{{ event.event_instance_id }}"><input class="event-checkbox" type="checkbox" id="checkbox-{{ event.event_instance_id }}" data-event-instance-id="{{ event.event_instance_id }}">Going</label></form></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div><!-- /content -->

<div data-role="footer" data-position="fixed">
    <div data-role="navbar" data-iconpos="top">
        <ul>
            <li><a href="" data-icon="calendar" class="ui-btn-active ui-state-persist">All Events</a></li>
            <li><a href="{% url 'ajax-user-calendar' %}" data-icon="star">My Events</a></li>
            <li><a href="#about" data-icon="info">About</a></li>
        </ul>
    </div><!-- /navbar -->
</div><!-- /footer -->