    {% if filter_enabled %}
    <form>
        <input id="filter-{{ table_id }}" data-type="search" placeholder="Filter by title, format, venue, series, whatever">
    </form>
    {% endif %}
    <table data-role="table" id="{{ table_id }}" {% if filter_enabled %}data-filter="true" data-input="#filter-{{ table_id }}" {% endif %}class="ui-responsive table table-striped" data-mode="columntoggle">
        <tbody>
            {% for event in events %}
            {% ifchanged event.datetime|date:"D j M" %}
            <tr class="info">
                <th colspan="{% if calendar_type == 'all' %}3{% else %}2{% endif %}">
                    {{ event.datetime|date:"D j M" }}
                </th>
            </tr>
            {% endifchanged %}
            <tr data-filtertext="{{ event.title }} {{ event.venue.name }} {{ event.series.name }} {% if event.is_film %}Film{% endif %} {{ event.format }}">
                <td>
                    <p class="time{% if event.datetime_unconfirmed %} unconfirmed{% endif %}">
                        <nobr>{{ event.datetime|time:"g:i a" }}</nobr>
                        {% if event.datetime_unconfirmed %}
                        <br /><small>Unconfirmed</small>
                        {% endif %}
                    </p>
                </td>
                <td>
                    <h4>
                    {% if event.tmdb_url %}<a href="{{ event.tmdb_url }}">{% endif %}
                        {{ event.title }}
                    {% if event.tmdb_url %}</a>{% endif %}
                    </h4>
                    <p class="desc">
                        {{ event.venue.name }}
                        {% if event.series %}
                        | {{ event.series.name }}
                        {% endif %}
                        {% if event.ticket_url %}
                        | <a href="{{ event.ticket_url }}">Tickets</a>
                        {% endif %}
                        &nbsp; &nbsp; <select onchange="reelguide.updateEventFormat({{ event.event_instance_id }}, this.value);" class="format" id="format-{{ event.event_instance_id }}">
                            {% for format in formats %}
                            <option{% if format == event.format %} selected{% endif %}>
                            {% if format == 'Unknown' %}Format?{% else %}{{ format }}{% endif %}
                            </option>
                            {% endfor %}
                          </select>
                    </p>
                </td>
                {% if calendar_type == "all" %}
                <td><form><label for="checkbox-{{ event.event_instance_id }}"><input class="event-checkbox" type="checkbox" id="checkbox-{{ event.event_instance_id }}" data-event-instance-id="{{ event.event_instance_id }}"><span class="save-label">Save?</span></label></form></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>