<style>
{% include "lib/jquery-mobile-1.4.5.min.css" %}
{% include "lib/bootstrap-3.3.4.min.css" %}
/* Begin Austin Rep Calendar Styles */
#rep .ui-checkbox input { top:20% !important; }
#rep input[type=checkbox] { margin-top:0 !important; }
p.time { margin-top:10px; }
p.desc { font-size:.8em; }
td h4 { margin-bottom:5px; }
td form { margin-bottom:0;max-width:120px;float:right; }
a.ui-table-columntoggle-btn { display:none !important; }
tr.info { display:table-row !important; }
.filter-header { padding-top:0 !important;padding-bottom:0 !important; }
.filter-header form input { font-weight:normal; }
div[role=main] { min-height:100vh; }
</style>