<div data-role="header">
    <h1>Austin Rep Calendar</h1>
</div><!-- /header -->

<div role="main" class="ui-content">
    {% with "all" as calendar_type and 1 as filter_enabled and "all-events-table" as table_id %}
    {% include "calendar.html" %}
    {% endwith %}
</div><!-- /content -->

<div data-role="footer" data-position="fixed">
    <div data-role="navbar" data-iconpos="top">
        <ul>
            <li><a href="" data-icon="calendar" class="ui-btn-active ui-state-persist">All Events</a></li>
            <li><a href="{% url 'ajax-user-calendar' %}" data-icon="star">My Events</a></li>
            <li><a href="#about" data-icon="info">About</a></li>
        </ul>
    </div><!-- /navbar -->
</div><!-- /footer -->