<script>
var reelguide = {

  "debug": false,
  
  "log": function(msg) {
    if(reelguide.debug) {
        console.log(msg)
    }
  },

  "user": {
    "event_ids": [],
    "_active_checkbox": null
  },

  "clear_user": function() {
    reelguide.user.event_ids = [];
    reelguide.updateEventButtonsFromCache();
  },

  "updateEventButtonsFromCache": function() {
    jQuery(".event-checkbox").each(function(){
        var id = jQuery(this).data("event-instance-id");
        /* Should this be checked? */
        if(reelguide.isUserGoing(id)){
            reelguide.log("Marking "+id+" as checked");
            jQuery(this).prop("checked", true).checkboxradio('refresh');
        } else {
            jQuery(this).prop("checked", false).checkboxradio('refresh');
        }
        /* Attach click event */
        jQuery(this).unbind().click(function(event){
            event.preventDefault();
            var id = jQuery(this).data("event-instance-id");
            reelguide.user._active_checkbox = jQuery(this);
            if( jQuery(this).prop("checked") ) {
                reelguide.addUserToEvent(id).fail(function() {
                    reelguide.user._active_checkbox.prop("checked", false).checkboxradio('refresh');
                }).success(function() {
                    reelguide.user._active_checkbox = null;
                });
            } else {
                reelguide.removeUserFromEvent(id).fail(function() {
                    reelguide.user._active_checkbox.checkboxradio('refresh');
                }).success(function() {
                    reelguide.user._active_checkbox = null;
                });
            }
        });
    });
  },

  "isUserGoing": function(eventInstanceId) {
    var id = Number(eventInstanceId);
    var local_cache = reelguide.user.event_ids;
    if(jQuery.inArray(id, local_cache) > -1) {
        return true;
    }
    return false;
  },

  "api": function(url, data) {
    return jQuery.ajax({
      method: "POST",
      url: url,
      data: data
    }).fail(function(response){
        if( response.status == 401 ) {
            reelguide.log("Prompting you to login");
            reelguide.checkLoginState();
        } else {
            reelguide.clear_user();
            reelguide.log(response.responseText)
            var res = JSON.parse(response.responseText)
            reelguide.log(res)
            reelguide.log("Status code: "+response.status)
            alert("There was an error with the request: "+res['error']);
        }
    });
  },
  
  "addUserToEvent": function(eventInstanceId) {
    reelguide.log("Attempting to add you to the event...")
    var data = {"eventInstanceId": eventInstanceId};
    return reelguide.api("{% url "api-add-user-to-event" %}", data).success(
        function(res) {
          reelguide.log(res);
          var event_id = res.eventInstanceId;
          var local_cache = reelguide.user.event_ids;
          local_cache.push(event_id);
          reelguide.user.event_ids = local_cache;
          jQuery("#checkbox-"+event_id).prop("checked", true).checkboxradio('refresh');
          //alert(res.success);
        }
    );
  },
  
  "removeUserFromEvent": function(eventInstanceId) {
    reelguide.log("Attempting to remove you from the event...")
    var data = {"eventInstanceId": eventInstanceId};
    return reelguide.api("{% url "api-remove-user-from-event" %}", data).success(
        function(res) {
          var event_id = res.eventInstanceId;
          var local_cache = reelguide.user.event_ids;
          local_cache.splice(jQuery.inArray(event_id, local_cache), 1);
          reelguide.user.event_ids = local_cache;
          jQuery("#checkbox-"+event_id).prop("checked", false).checkboxradio('refresh');
          //alert(res.success);
        }
    );
  },

  "logout": function() {
    FB.logout(function(response) {
      jQuery.getJSON("{% url 'api-logout' %}", function(data) {
        reelguide.log(data.success);
        location.href = '/';
      });
    });
  },

  "login": function(fbAccessToken, fbUserID, callback) {
    reelguide.log("You're logged into Facebook! Logging you into the app...")
    reelguide.log("Sending your access Token: "+fbAccessToken)
    reelguide.log("Sending your user ID: "+fbUserID)
    jQuery.ajax({
      method: "POST",
      url: "{% url "api-login-or-register" %}",
      data: { "fbAccessToken": fbAccessToken, "fbUserID": fbUserID }
    }).done(function(response){
        reelguide.log("Executing your callback!");
        if (location.hash != '') {
            location.hash = '';
        }
    }).success(callback);
  },

  // This is called with the results from from FB.getLoginStatus().
  "fbStatusChangeCallback": function(response, callback) {
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      var accessToken = response.authResponse.accessToken;
      var userID = response.authResponse.userID;
      reelguide.login(accessToken, userID, function(result) {
        reelguide.log(result);
        reelguide.user.event_ids = result.event_ids;
        reelguide.updateEventButtonsFromCache();
        location.href = '/';
      });
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      alert("Please authorize the app to use that feature.");
      reelguide.clear_user();
      location.hash = 'login';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      reelguide.log("Please login to use that feature.");
      reelguide.clear_user();
      location.hash = 'login';
    }
  },
  
  // Same, but don't raise alerts if the user's not logged in
  // (we just do this on page load in case they're logged in)
  "fbSilentStatusChangeCallback": function(response, callback) {
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      var accessToken = response.authResponse.accessToken;
      var userID = response.authResponse.userID;
      reelguide.login(accessToken, userID, function(result) {
        reelguide.log(result)
        reelguide.user.event_ids = result.event_ids;
        reelguide.updateEventButtonsFromCache();
      });
    } else {
      reelguide.clear_user();
    }
  },

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  "checkLoginState": function() {
    FB.getLoginStatus(function(response) {
      reelguide.fbStatusChangeCallback(response);
    });
  },

  // Get CSRF token
  "getCSRFToken": function() {
    var token = reelguide.getCookie('csrftoken');
    if(!token) {
        reelguide.log("No CSRF cookie");
        token = "{% csrf_token %}";
    }
    return token;
  },

  // Get cookie (for CSRFtoken)
  "getCookie": function(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }

}

// Initialize Facebook after the SDK is loaded
window.fbAsyncInit = function() {

  FB.init({
    appId: '762159260569152',
    cookie: true,
    xfbml: true,
    version: 'v2.3'
  });

  // FB.getLoginStatus() to see if the user is already logged in.
  FB.getLoginStatus(function(response) {
    reelguide.fbSilentStatusChangeCallback(response);
  });

};

// Load the Facebook SDK asynchronously
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

// Configure jQuery AJAX requests
jQuery.ajaxSetup({
  beforeSend: function(xhr, settings) {
    /* Thanks to Alan Hamlett for this
       https://gist.github.com/alanhamlett/6316427 */
    if (settings.type == 'POST' || settings.type == 'PUT' || settings.type == 'DELETE') {
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            var token = reelguide.getCSRFToken();
            xhr.setRequestHeader("X-CSRFToken", token);
        }
    }
  }
});
</script>