<div data-role="header">
    <h1>Austin Rep Calendar</h1>
</div><!-- /header -->

<div role="main" class="ui-content">
    <div class="container">
        <h2>Oh, hi.</h2>
        <h3>Log in, won't you?</h3>
        <p>You can browse the calendar listings all you want, but to save stuff to your personal calendar, I'm afraid you need to login with Facebook. No one but you can see your personal calendar.</p>
        <hr />
        <fb:login-button scope="public_profile,email,user_friends" onlogin="reelguide.checkLoginState();" data-size="xlarge">
        </fb:login-button>
    </div>
</div><!-- /content -->

<div data-role="footer" data-position="fixed">
    <div data-role="navbar" data-iconpos="top">
        <ul>
            <li><a href="/" data-icon="calendar">All Events</a></li>
            <li><a href="{% url 'ajax-user-calendar' %}" data-icon="star">My Events</a></li>
            <li><a href="#about" data-icon="info">About</a></li>
        </ul>
    </div><!-- /navbar -->
</div><!-- /footer -->