<script>
if(!window.reelguide) location.href = '/';
</script>
<div data-role="page" id="mine">
<div data-role="header">
    <h1>Austin Rep Calendar</h1>
</div><!-- /header -->
<div data-role="header" class="filter-header ui-content">
    <form>
        <input id="filterTable-input2" data-type="search" placeholder="Filter by title, format, venue, series, whatever"{% if not events %} disabled{% endif %}>
    </form>
</div><!-- /filter -->

<div role="main" class="ui-content">
{% if not logged_in %}
<script>location.hash = 'login';</script>
{% else %}
{% if not events %}
<p>Add some events to your calendar, silly.</p>
{% else %}
    <table data-role="table" id="mine-table" data-filter="true" data-input="#filterTable-input2" class="ui-responsive table table-striped" data-mode="columntoggle">
        <tbody>
            {% for event in events %}
            {% ifchanged event.datetime|date:"D j M" %}
            <tr class="info">
                <th colspan="3">
                    {{ event.datetime|date:"D j M" }}
                </th>
            </tr>
            {% endifchanged %}
            <tr>
                <td>
                    <p class="time"><nobr>{{ event.datetime|time:"g:i a" }}</nobr></p>
                </td>
                <td>
                    <h4>{{ event.title }}</h4>
                    <p class="desc">
                        {{ event.venue.name }}
                        | {{ event.format }}
                        {% if event.series %}
                        | {{ event.series.name }}
                        {% endif %}
                        {% if event.external_url %}
                        | <a href="{{ event.external_url }}">Tickets</a>
                        {% endif %}
                        {% if event.is_film %}
                        <span style="display:none">Film</span>
                        {% endif %}
                    </p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endif %}
</div><!-- /content -->

<div data-role="footer" data-position="fixed">
    <div data-role="navbar" data-iconpos="top">
        <ul>
            <li><a href="/" data-icon="calendar">All Events</a></li>
            <li><a href="#mine" data-icon="star" class="ui-btn-active">My Events</a></li>
            <li><a href="#about" data-icon="info">About</a></li>
        </ul>
    </div><!-- /navbar -->
</div><!-- /footer -->
</div><!-- /page -->